In [1]:
import numpy as np
import pandas as pd
import os

import os

import tensorflow as tf
import tensorflow_decision_forests as tfdf
print(f"Found TF-DF {tfdf.__version__}")

Found TF-DF 1.9.0

In [4]:
df = pd.read_csv("/Users/seanjoo/Desktop/horse_racing/아개귀찮은데.csv")
df.head()

,birthday,age,winOdds,ord,wgHr,track,wgDf,humidity,chaksun1,chaksun2,...,name_한국,name_호주,weather_강풍,weather_눈,weather_맑음,weather_비,weather_안개,weather_흐림,timeRace,race_position
0,20150308,4,10.7,1,472,1,-12.0,2,13680000,5040000,...,True,False,False,False,True,False,False,False,7,0.083333
1,20160326,3,2.8,2,457,1,3.0,2,13680000,5040000,...,True,False,False,False,True,False,False,False,7,0.166667
2,20160520,3,3.4,3,462,1,-1.0,2,13680000,5040000,...,True,False,False,False,True,False,False,False,7,0.250000
3,20150314,4,22.0,4,477,1,-10.0,2,13680000,5040000,...,True,False,False,False,True,False,False,False,7,0.333333
4,20160412,3,94.8,5,469,1,20.0,2,13680000,5040000,...,True,False,False,False,True,False,False,False,7,0.416667

0        2019-01-05
1        2019-01-05
2        2019-01-05
3        2019-01-05
4        2019-01-05
            ...
51508    2024-04-28
51509    2024-04-28
51510    2024-04-28
51511    2024-04-28
51512    2024-04-28
Name: rcDate, Length: 51513, dtype: object

In [5]:
train_df = df[df['rcDate'] < pd.to_datetime("2023-01-01")]
valid_df = df[df['rcDate'] >= pd.to_datetime("2023-01-01")]

TypeError: '<' not supported between instances of 'str' and 'Timestamp'

In [6]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

from sklearn.model_selection import train_test_split


# Split the data into train and test sets
X_train = train_data.drop([f'{i}_ord' for i in range(1, 17)], axis=1)
y_train = train_data[[f'{i}_ord' for i in range(1, 17)]]
y_test = test_data[[f'{i}_ord' for i in range(1, 17)]]
X_test = test_data.drop([f'{i}_ord' for i in range(1, 17)], axis=1)

# Initialize and train the Random Forest model
model = RandomForestRegressor(n_estimators=500, random_state=42)
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f"Mean Absolute Error: {mae}")

NameError: name 'train_data' is not defined