In [191]:
import numpy as np
import pandas as pd

In [192]:
df = pd.read_csv("/Users/seanjoo/Desktop/horse/경주성적정보_full.csv")

/var/folders/zf/4s7q2ydx00n7c1n6nz_8l2h40000gn/T/ipykernel_12894/2322127352.py:1: DtypeWarning: Columns (49,83) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/seanjoo/Desktop/horse/경주성적정보_full.csv")

In [193]:
df.head()
df['meet'].unique()

array(['부경', '서울', '제주'], dtype=object)

In [194]:
#부산, 제주 관련 경주 제외
#ordBigo가 아닌 경주 제외 
df = df.drop(columns = ["Unnamed: 0"])
df = df[(df['ord'] <= 80) &(df['ord'] != 0)]
df = df[(df['sjG1fOrd'] > 0) & (df['jeG1fTime'] == 0)]
df = df.drop(columns = ['buG1fAccTime', 'buG1fOrd',
       'buG2fAccTime', 'buG2fOrd', 'buG3fAccTime', 'buG3fOrd', 'buG4fAccTime',
       'buG4fOrd', 'buG6fAccTime', 'buG6fOrd', 'buG8fAccTime', 'buG8fOrd',
       'buS1fAccTime', 'buS1fOrd', 'buS1fTime', 'bu_10_8fTime', 'bu_1fGTime',
       'bu_2fGTime', 'bu_3fGTime', 'bu_4_2fTime', 'bu_6_4fTime', 'bu_8_6fTime','jeG1fTime',
       'jeG3fTime', 'jeS1fTime', 'je_1cTime', 'je_2cTime', 'je_3cTime',
       'je_4cTime'])

In [195]:
#Extracting Weight Difference, humidity from previous match
case5df = df[['birthday','winOdds','ord','wgHr','track']].copy()
case5df['wgDf'] = case5df['wgHr'].str.extract(r'\(([-+]?\d*)\)')
case5df['wgHr'] = case5df['wgHr'].str.extract(r'(\d*)')
case5df[['track', 'hd']] = case5df['track'].str.extract(r'(\w+)\s\((\d*)\%\)')
df = df.drop(columns = ["track","wgHr"])
case5df.head()

     birthday  winOdds  ord wgHr track wgDf hd
144  20150308     10.7    1  472    건조  -12  2
145  20160326      2.8    2  457    건조   +3  2
146  20160520      3.4    3  462    건조   -1  2
147  20150314     22.0    4  477    건조  -10  2
148  20160412     94.8    5  469    건조  +20  2

In [196]:
df.head()

,age,ageCond,birthday,budam,buga1,buga2,buga3,chaksun1,chaksun2,chaksun3,...,sj_2cOrd,sj_3cOrd,sj_4cOrd,trName,trNo,weather,wgBudam,wgBudamBigo,wgJk,winOdds
144,4,연령오픈,20150308,별정A,0,0,0,13680000,5040000,3120000,...,0,8,8,박윤규,70117,맑음,54.5,-,0,10.7
145,3,연령오픈,20160326,별정A,0,0,0,13680000,5040000,3120000,...,0,2,2,정호익,70148,맑음,56.0,-,0,2.8
146,3,연령오픈,20160520,별정A,0,0,0,13680000,5040000,3120000,...,0,6,4,서범석,70096,맑음,56.0,-,0,3.4
147,4,연령오픈,20150314,별정A,0,0,0,13680000,5040000,3120000,...,0,3,3,김동균,70170,맑음,54.5,-,0,22.0
148,3,연령오픈,20160412,별정A,0,0,0,13680000,5040000,3120000,...,0,10,9,우창구,70149,맑음,56.0,-,0,94.8

In [197]:

df[df['wgBudamBigo']=='*']['budam'].unique()
df['weather'].unique()

array(['맑음', '흐림', '비', nan, '강풍', '안개', '눈'], dtype=object)

In [204]:
df[df['weather'].isnull()]['rcDate'].shape
df = df.fillna("흐림")
#2019-04-13 = 흐림
#2020-07-11 = 흐림

In [203]:
df = df.fillna("흐림")
df.isna().sum().sum()

0

In [ ]:
df.to_csv("")

df[df[''].isnull()]